.ps {
  position: relative;
  touch-action: auto;
  -ms-touch-action: auto;
  -ms-overflow-style: none;
  overflow: hidden !important;

  .ps__rail-x:hover,
  .ps__rail-y:hover,
  .ps__rail-x:focus,
  .ps__rail-y:focus,
  .ps__rail-x.ps--clicking,
  .ps__rail-y.ps--clicking {
    opacity: 0.9;
  }
}

.ps__rail-x, .ps__rail-y{
  opacity: 0;
  display: none;
  position: absolute;
}

.ps__rail-x {
  bottom: 0;
  height: 10px;
  transition: background-color .2s linear, opacity .2s linear;
  -webkit-transition: background-color .2s linear, opacity .2s linear;
}

.ps__rail-y {
  right: 0;
  width: 10px;
  transition: background-color .2s linear, opacity .2s linear;
  -webkit-transition: background-color .2s linear, opacity .2s linear;
}

.ps--active-x .ps__rail-x,
.ps--active-y .ps__rail-y {
  display: block;
  background-color: transparent;
}

.ps:hover {
  .ps__rail-x,
  .ps__rail-y {
    opacity: 0.6;
  }
}

.ps--focus {
  .ps__rail-x,
  .ps__rail-y {
    opacity: 0.6;
  }
}

.ps--scrolling-x .ps__rail-x,
.ps--scrolling-y .ps__rail-y {
  opacity: 0.6;
}

.ps__thumb-x,
.ps__thumb-y{
  position: absolute;
  border-radius: 6px;
  background-color: #aaa;
}

.ps__thumb-x {
  height: 6px;
  bottom: 2px;
  transition: background-color .2s linear, height .2s ease-in-out, bottom .2s ease-in-out;
}

.ps__thumb-y {
  width: 6px;
  right: 2px;
  transition: background-color .2s linear, width .2s ease-in-out, right .2s ease-in-out;
}

.ps__rail-x {
  &:hover .ps__thumb-x,
  &:focus .ps__thumb-x,
  &.ps--clicking .ps__thumb-x {
    bottom: 0;
    height: 10px;
  }
}

.ps__rail-y {
  &:hover .ps__thumb-y,
  &:focus .ps__thumb-y,
  &.ps--clicking .ps__thumb-y {
    right: 0;
    width: 10px;
  }
}

@supports (-ms-overflow-style: none) {
  .ps { overflow: auto !important; }
}

@media screen and (-ms-high-contrast: active), (-ms-high-contrast: none) {
  .ps { overflow: auto !important; }
}