body{
  font-size: 14px;
  cursor: default;
  font-weight: 400;
  background: #f5f9fa;
  font-family: 'Open Sans', sans-serif;
}

.no-select, .btn{
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.btn{
  cursor: pointer;
}

.board{
  .card{
    background: #fff;

    &.ghost{
      box-shadow: 0 0 0 2px fade_out(#000, .9);
      background: repeating-linear-gradient(
          45deg,
          fade_out(#000, .95),
          fade_out(#000, .95) 10px,
          transparent 10px,
          transparent 20px
      );

      .card-body{
        opacity: 0;
      }
    }
  }
}

.board-nav{
  .container, .container-fluid{
    display: flex;
    flex-wrap: nowrap;
    align-items: center;
  }
}

.board-wrap{
  display: flex;
  flex-wrap: nowrap;
}

.card-title{
  font-size: 16px;
  font-weight: bold;
  margin-bottom: 0;
  font-family: 'Montserrat', sans-serif;
}

.board-col{
  width: 400px;
  flex: 0 0 400px;
}

.board-col-header{
  display: flex;
  padding: 15px 0;
  align-items: center;
}

.board-col-title{
  height: 30px;
  padding: 0 15px;
  font-size: 14px;
  font-weight: bold;
  line-height: 30px;
  border-radius: 5px;

  &.bg-default{
    color: #6d777b;
    background: #eaeff0;
  }

  &.bg-blue{
    color: #5f85bb;
    background: #e2f0ff;
  }

  &.bg-green{
    color: #87b38d;
    background: #e7f7eb;
  }

  &.bg-orange{
    color: #c3987e;
    background: #fef7ec;
  }

  &.bg-red{
    color: #c16d73;
    background: #fae3e2;
  }

  &.bg-pink{
    color: #7661aa;
    background: #f5ebfe;
  }
}


.btn-square{
  padding: 0;
  width: 30px;
  height: 30px;
  line-height: 30px;
  text-align: center;
}


.btn-disabled{
  opacity: .3;
  pointer-events: none;
}

.modal{
  background: fade_out(#000, .3);
}

.form-group{
  label{
    font-weight: bold;
  }
}
