<template>
  <div class="board">

    <div class="board-nav">
      <div class="container py-4">
        <span class="btn btn-sm btn-outline-secondary rounded-pill px-4 mr-3 font-weight-bold">Filter</span>
        <span class="btn btn-sm btn-outline-secondary rounded-pill px-4 mr-3 font-weight-bold">Sort</span>
        <span class="btn btn-sm text-muted rounded-pill px-4 font-weight-bold">More</span>
        <span class="btn btn-primary px-4 ml-auto" @click="modalList = true">Add List</span>
      </div>
    </div>

    <perfect-scrollbar class="board-wrap pb-4">
        <div class="board-col px-3" v-for="(list, i) in lists" :key="i">

          <div class="board-col-header">
            <div class="board-col-title text-uppercase mr-auto" :class="'bg-'+list.color">{{list.title}}</div>
            <div class="btn btn-square" @click="modalItem = list.id"><i class="i-plus"></i></div>
          </div>

          <draggable style="min-height: 200px"
                     :list="list.items"
                     v-bind="dragOptions"
                     @start="dragging = true"
                     @end="dragging = false">
            <board-card v-for="item in list.items" :item="item" :key="item.id"/>
          </draggable>
        </div>
    </perfect-scrollbar>

    <new-list v-if="modalList" @close="modalList = false" @submit="onListSubmit"/>
    <new-item v-if="modalItem" :list-id="modalItem" @close="modalItem = false" @submit="onItemSubmit"/>
  </div>
</template>

<script>
  import draggable from 'vuedraggable'
  import NewList from './new-list'
  import BoardCard from './card'
  import NewItem from './new-item'

  export default {
    data () {
      return {
        modalList: false,
        modalItem: false,

        enabled: true,
        dragging: false,
        dragOptions: {
          animation: 200,
          group: "description",
          draggable: ".card",
          disabled: false,
          ghostClass: "ghost"
        }
      }
    },
    computed: {
      lists() {
        return this.$store.getters.LISTS
      }
    },
    mounted() {

      if(this.lists.length === 0) {
        this.$store.dispatch('ADD_LIST', {title: 'To Do', color: 'default'});
        this.$store.dispatch('ADD_LIST', {title: 'In Progress', color: 'blue'});
        this.$store.dispatch('ADD_LIST', {title: 'Done', color: 'green'});
      }
    },
    methods: {

      onListSubmit(data) {
        this.$store.dispatch('ADD_LIST', data);
        this.modalList = false;
      },

      onItemSubmit(data) {
        this.$store.dispatch('ADD_ITEM', data);
        this.modalItem = false;
      },

      addItem(id) {
        this.$store.dispatch('ADD_ITEM', {id, name: 'asd'});
      }
    },
    components: {
      draggable,
      NewList,
      NewItem,
      BoardCard
    }
  }
</script>
