<template>
  <div class="card mb-3 rounded">
    <div class="card-body p-3">
      <h3 class="card-title">{{item.name}}</h3>
    </div>
  </div>
</template>

<script>
  import draggable from 'vuedraggable'
  import NewList from './new-list'
  import NewItem from './new-item'

  export default {
    props: {
      item: Object
    }
  }
</script>
