<template>
  <div class="modal" style="display: block;">
    <div class="modal-dialog" role="document">
      <div class="modal-content">

        <div class="modal-header">
          <h5 class="modal-title">Add New Task To "{{list.title}}"</h5>
        </div>

        <div class="modal-body">

          <div class="form-group">
            <label>Task Name</label>
            <input type="text" class="form-control" aria-label="List Name" placeholder="List Name" @keydown="onKeyDown" v-model="form.name">
          </div>
        </div>

        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" @click="close">Close</button>
          <button type="button" class="btn btn-primary" :class="{'btn-disabled': !form.name}" @click="success">Add Task</button>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
  export default {
    props: ['listId'],
    data () {
      return {
        active: false,
        form: {
          name: ''
        }
      }
    },
    computed: {
      list() {
        return this.$store.getters.LIST(this.listId)
      }
    },
    methods: {
      onKeyDown(e) {
        if(e.keyCode === 13)
          this.$emit('submit', {id: this.listId, name: this.form.name});
      },
      close() {
        this.$emit('close')
      },
      success() {
        this.$emit('submit', {id: this.listId, name: this.form.name});
      }
    }
  }
</script>
