<template>
  <div class="modal" style="display: block;">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title">Add New List</h5>
        </div>
        <div class="modal-body">

          <div class="form-group">
            <label>List Name</label>
            <input type="text" class="form-control" aria-label="List Name" placeholder="List Name" @keydown="onKeyDown" v-model="form.title">
          </div>

          <div class="form-group">
            <label>List Color</label>
            <select class="form-control" aria-label="List Color" v-model="form.color">
              <option value="default">Default</option>
              <option value="blue">Blue</option>
              <option value="green">Green</option>
              <option value="orange">Orange</option>
              <option value="red">Red</option>
              <option value="pink">Pink</option>
            </select>
          </div>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" @click="close">Close</button>
          <button type="button" class="btn btn-primary" :class="{'btn-disabled': !form.title}" @click="success">Add List</button>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
  export default {
    data () {
      return {
        active: false,
        form: {
          title: '',
          color: 'default'
        },
      }
    },
    methods: {
      onKeyDown(e) {
        if(e.keyCode === 13)
          this.$emit('submit', this.form);
      },
      close() {
        this.$emit('close')
      },
      success() {
        this.$emit('submit', this.form);
      }
    }
  }
</script>
