<template>
  <div class="home-page">

    <section class="py-5">
      <div class="container">
        <h1 class="display-5">Project Board</h1>
        <p class="font-weight-bold text-muted text-uppercase">Add lists and items by typing in the edit boxes. To enter further details, CMD or CTRL Enter.</p>
      </div>
    </section>

    <section class="py-5">
      <vue-board @add-list="modalList = true"/>
    </section>
  </div>
</template>

<script>
  import VueBoard from '../_components/board'

  export default {
    name: 'HomePage',
    components: {
      VueBoard
    }
  }
</script>
